header{
    background-color: rgb(56, 57, 65);

    font-size: 1em;
}

/* navigation section  */

header nav{
    display: flex;
    justify-content: space-between ;
    padding: 10px 15px;
    font-size: 1em;
}

header nav .nav-right{
    display: flex;
    align-items: center;
}

header nav .nav-right a{
    color: rgb(236, 230, 230);
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 1.1em;
    
}


header nav .nav-left .register-login-btn{
    border: 1px solid rgb(236, 230, 230);
    padding: 5px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

header nav .nav-left .register-login-btn i{
    margin: 7px;
    color: rgb(236, 230, 230);
    font-size: 1.1em;

}

header nav .nav-left .register-login-btn a{
    color: rgb(236, 230, 230);
    margin: 0px 10px;
    font-size: .9em;
}

.login-container{
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% ); ;
    height: 100vh;
    padding: 30px;
}

.login-box{
    font-size: .8em;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .2);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .1);
    padding: 25px 35px;
    color: white;
    margin: 20px 30px;
}

.login-box form .input-group{
    margin: 30px 0px;
}

.login-box form .input-group label{
    display: block;
}

.login-box form .input-group input{
    border: none;
    border-radius: 20px;
    background : none;
    border: 2px solid white;
    margin-top: 20px;
    padding: 10px;
    color: white;
    width: 100%;
    outline: none;
}

.login-box form .do-you-have a{
    color: #eb4d4b;
}

.login-box form .submit-btn-container{
    text-align: center;
}

.login-box form .submit-btn-container input{
    border : none;
    border-radius: 35px;
    background-color: #eb4d4b ;
    color: white;
    padding: 10px 40px;
    font-size: 1.4em;
    letter-spacing: 2px;
    cursor: pointer;
}


.login-box .social-auth{
    display: flex;
    justify-content: space-around;
    border-top:  1px solid rgba(255, 255, 255, .8);
    margin-top: 30px;
    padding-top: 20px;
    
}

.login-box .social-auth a{
    color: white;
    font-size: 1.9em;
}

.login-img-container{
    display: flex;
    height: 100%;
}

.login-img-container img{
    width: 100%;
}


